@model SportsMVC.Models.m_Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>m_Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sport.Name)
        </dd>
    </dl>
    @if (Model.TeamPlayers != null)
   {
       <dl class="row">
        <dt class = "col-sm-2">
            Player
        </dt>
       @foreach (var player in Model.TeamPlayers)
      {
          <dd class = "col-sm-2">
            @player.Name - #@player.Roster
        </dd>
      }
      </dl>
   }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
